<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Vue.js 演習問題</title>
        <link rel="stylesheet" href="style.css" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    </head>

    <body>
        <h2>オブジェクトの配列データを、リストで表示する例</h2>
        <div id="app">
            <caption>東北６県基本情報</caption>
            <table border="1">
                <thead>
                    <th>県名</th>
                    <th>県庁所在地</th>
                    <th>人口</th>
                </thead>
                <tbody>
                    <tr v-for="item in prefecture" v-if="item.population >= xxx">
                        <td>{{ item.name }}</td>
                        <td>{{ item.abc}}</td>
                        <td>{{ item.population}} 万人</td>
                    </tr>
                </tbody>
            </table>
            <p>表示基準人口 = <input type="number" v-model="xxx"></p>
                    <!-- <input v-model.number="base"> -->
        </div>

        <script>
            new Vue({
                el: "#app",
                data: {
                    prefecture: [
                        { name: "青森県", abc: '青森市', population: 124.9 },
                        { name: "岩手県", abc: '盛岡市', population: 122.9 },
                        { name: "秋田県", abc: '秋田市', population: 96.6 },
                        { name: "宮城県", abc: '仙台市', population: 230.6 },
                        { name: "山形県", abc: '山形市', population: 108 },
                        { name: "福島県", abc: '福島市', population: 184.8 },
                    ],
                    xxx: 0,
                },
            });
        </script>
    </body>
</html>
