<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
        <script src="https://unpkg.com/microcms-js-sdk@latest/dist/umd/microcms-js-sdk.js"></script> <!-- microCMS-SDKのCDN -->
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="stylesheet" href="style.css" />
        <title>Document</title>
    </head>
    <body>
        <header class="header">
            <div class="inner wrapper">
                <h1 class="title">ANAI</h1>
                <nav>
                    <ul>
                        <li><a href="#news-anchor">NEWS</a></li>
                        <li><a href="#contents-anchor">sample</a></li>
                        <li><a href="#business">BUSINESS</a></li>
                        <li><a href="#company">COMPANY</a></li>
                    </ul>
                </nav>
            </div>
            <a class="contact" href="#">お問い合わせ</a>
        </header>

        <main id="app">
            <div class="mainvisual">
                <img src="Google.jpg" alt="" />
            </div>

            <section id="news-anchor" class="news wrapper">
                <h2 class="section-title">
                    <span class="en">NEWS</span>
                    <span class="ja">ニュース</span>
                </h2>

                <ul class="list">
                    <li v-for="item in news">
                        <div class="date-area">
                            <time datetime="2021-01-01">{{item.publishedAt.substr(0,10)}}</time>
                            <span>{{item.category.name}}</span>
                        </div>
                        <p>{{item.title}}</p>
                    </li>
                    <!-- <li>
                        <div class="date-area">
                            <time datetime="2021-01-01">2021.01.01</time>
                            <span>NEWS</span>
                        </div>
                        <p>タイトルタイトルタイトルタイトル</p>
                    </li>
                    <li>
                        <div class="date-area">
                            <time datetime="2021-01-01">2021.01.01</time>
                            <span>PRESS</span>
                        </div>
                        <p>タイトルタイトルタイトルタイトル</p>
                    </li>
                    <li>
                        <div class="date-area">
                            <time datetime="2021-01-01">2021.01.01</time>
                            <span>NEWS</span>
                        </div>
                        <p>タイトルタイトルタイトルタイトル</p>
                    </li> -->
                </ul>
            </section>
            <section id="" class="contents wrapper">
                <h2 class="section-title">
                    <span class="en">sample</span>
                    <span class="ja">サンプル</span>
                </h2>
                <p v-if="flag">
                    <button v-model="countComp" @click="changeFunc(1)">カウント</button>
                    <button v-model="fruitsComp" @click="changeFunc(2)">フルーツ</button>
                </p>
                <p v-else>
                    <button v-model="flag" @click="changeFunc(0)">戻る</button>
                </p>
                <p v-if="countComp">
                    <my-component></my-component>
                    <my-component></my-component>
                    <my-component></my-component>
                </p>
                <p v-if="fruitsComp">
                    <fruits-data v-for="item in fruitsList" :name1="item.name" :name2="item.price"></fruits-data>
                </p>
            </section>
        </main>
        <script>
            const client = microcms.createClient({
                serviceDomain: "x4alakbnzu", 
                // 開設時に設定したドメイン名を設定する
                // https://x4alakbnzu.microcms.io/apis/news/jezmduqkxwy9 ⇒ microcmsの左側の文字列
                apiKey: '7AhijRlZpGfzL4FEojkcnx8WCkp9b9H74N1Z',
                // APIキーを設定する
                // 左側メニュー内、権限管理の「1個のAPIキー」からコピー
            })
            let MyComponent = {
                template: '<p class="my-comp">カウンター　<button @click="addOne">追加</button> <button @click="subOne">減少</button> <button @click="addTen">10追加</button> {{count}}</p>',
                data: function () {
                return {
                    count: 0
                }
                },
                methods: {
                    addOne: function() {
                        return this.count ++;
                    },
                    subOne: function() {
                        return this.count --;
                    },
                    addTen: function() {
                        return this.count += 10;
                    }
                },
            }
            let fruitsData = {
                template: '<p class="my-comp">商品名：{{name1}} 定価：{{name2}} 円 税込み価格：{{anai}} 円</p>',
                props: ['name1','name2'],
                // ↓↓ propsの変数名でアクセス!!(コンポーネント内の変数) dataにはアクセスしていない
                computed: {
                    anai: function() {
                        return Math.floor(this.name2 * 1.1)
                    }
                }
            }
            new Vue({
                el: '#app',
                components: {
                    'my-component': MyComponent,
                    'fruits-data': fruitsData
                },
                data: {
                    news: [],
                    fruitsList: [
                        {name: 'りんご', price: 120},
                        {name: 'みかん', price: 100},
                        {name: 'もも', price: 180},
                        {name: 'バナナ', price: 150},
                        {name: 'いちご', price: 250},
                    ],
                    countComp: false,
                    fruitsComp: false,
                    flag: true
                },
                mounted() {
                    this.fetchNews();
                },
                methods: {
                    // microCMSに登録したニュース一覧を取得する処理
                    fetchNews: function () {
                        client
                            .get({
                                endpoint: 'news',
                            })
                            .then((res) => this.news = res.contents);
                    },
                    changeFunc: function(value) {
                        this.flag=false;
                        switch (value) {
                            case 1:
                                if (this.countComp==false) {
                                    this.countComp = true;
                                }
                                break;
                            case 2:
                                if (this.fruitsComp==false) {
                                    this.fruitsComp = true;
                                }
                                break;
                            case 0:
                                this.flag=true;
                        }
                    }
                }
            })
        </script>
    </body>
</html>
